
body{
    background-image: url("/MyPortfolio/img/synth.jpg");
    background-size: 1200px 800px;
}

h1, form, #register{
    text-align:center;
}

h1{
    color:white;
    text-shadow: 0.1em 0.1em 0.05em #333;
}

form{
    border-radius: 1em;
    background-color: rgba(167, 182, 248, 0.5);
    color:white;
    text-shadow: 0.1em 0.1em 0.05em #333;
    width: 30%;
    padding: 10px 10px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Changa";
    font-size: 15px;
}

input
{
    width: 80%;
}

input[type=text]:focus {
    background-color: rgb(166, 231, 255);
  }

#register{
    background: #eb94d0;
    width: 150px;
}

a:hover{
    color:#84ffe4;
}