
.navbar-brand {
    letter-spacing: 1px;
    color: #ffffff !important;
    font-family: "Press Start 2P";
    box-shadow: 2px 2px 2px 2px #000000;
  }
  
.navbar-brand:hover {
      color: #f3b063;
  }

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #ff9249;
    font-family: "Changa";
    font-size: 18px;
  }
  
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #f1a36e;
  }

main{
    background-image: url("/MyPortfolio/img/sun.jpg");
    background-size: 75rem;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px;
    font-family: "Changa";
  }

#logo{
    width: 54px;
    height: 54px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #deffc7;
    font-family: "Press Start 2P";
    font-size: 10px;
  }

  .art{
    /*background-color:#ffffffe1;*/
    color: #ffffff;
    background-image:url("/img/postres.png");
    border-radius: 15px;
    border-color: #deffc7;
    border-style: solid;
    border-width: 3px;
    text-align:center;
    width:60%;
    padding: 15px;
    margin: 75px auto;
    box-shadow: 2px 2px 2px 2px #000000;
    }

    .fab{
      color: #ffffff !important;
    }

    a:hover .fab{
      color:#ffc2d1 !important;
    }

    a:hover .fab .nav-item .nav-link{
      color:#ffc2d1 !important;
    }

  .flex-box{
    color:#ffffff;
  }

  .navbar-brand{
    text-shadow: #000000;
    box-shadow: #000000;
  }