
.navbar-brand {
    letter-spacing: 1px;
    color: #ffffff !important;
    font-family: "Press Start 2P";
  }
  
.navbar-brand:hover {
      color: #f3b063;
  }

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #ff9249;
    font-family: "Changa";
    font-size: 18px;
  }
  
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: #f1a36e;
  }

main{
    background-image: url("/img/space7.jpg");
    background-size: 100rem;
    padding: 5px;
    font-family: "Changa";
  }

#logo{
    width: 54px;
    height: 54px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #deffc7;
    font-family: "Press Start 2P";
    font-size: 10px;
  }

  .art{
    background-color:#ffffff;
    text-align:center;
    width:60%;
    padding: 15px;
    margin: 75px auto;
    }

    .fab{
      color: #ffffff !important;
    }

    a:hover .fab{
      color:#ffc2d1 !important;
    }

    a:hover .fab .nav-item .nav-link{
      color:#ffc2d1 !important;
