*{
    text-align:center;
    color: white;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(174, 174, 174);
    color: white;
  }

#text1{
    text-shadow: 0.1em 0.1em 0.05em #333;
}

